<html>
  <head>
    <title>Crystal Docs</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="header">

      <div id="navigation">
        <a href="/">home</a>
        <a href="/about">about</a>
      </div>

    </div>
    <div id="content">
      <h1>Building docs</h1>
      <p class="tagline">We're building the documentation you were looking for&hellip;</p>
      <p>No documentation exists for this Shard so we're building it right now, check back in a minute!</p>
    </div>
  </body>
</html>

