<html>
  <head>
    <title>Crystal Docs</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="header">

      <div id="navigation">
        <a href="/">home</a>
        <a href="/about">about</a>
      </div>

    </div>
    <div id="content">
      <h1>Build Failed</h1>
      <p class="tagline">We couldn't build the documentation you were looking for&hellip;</p>
      <p>
        We couldn't build the documentation for this Shard.  If you can build it locally then please raise an
        <a href="https://github.com/barisbalic/crystal-docs/issues">issue</a>
      with us so that we can look into it.  If it doesn't build locally, consider raising an issue with the author.
      </p>
    </div>
  </body>
</html>


