<div id="content">
  <h1>Crystal Docs</h1>
  <p class="tagline">A place for Crystal Shards documentation, inspired by hexdocs.pm.</p>
  <br>

  <h2>Finding Documentation</h2>
  <p>To find documentation for a Shard you can use the following URLs:</p>
  <p>
    <code>https://crystal-docs.org/&lt;author&gt;/&lt;shard&gt;</code> - Latest documentation.
    <br>
    Example: <code><a href="https://crystal-docs.org/kemalcr/kemal">https://crystal-docs.org/kemalcr/kemal</a></code>
  </p>
</div>
